.SearchResults {
    width: 50%;
    min-height: 200px;
    max-height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    /* background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000; */
    background: transparent;
    backdrop-filter: blur(25px);
    border-radius: 8px;
    border: 1px solid rgb(110, 206, 221);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }